<div class='col-md-4 col-md-offset-4'>
  <h2>new desucoes</h2>

  <hr>
  <%= form_for @group do |f| %>
  <br>

  title
  <%= f.text_field :title %>
  <br>

  description
  <%= f.text_field :description %>
  <br>

  <%= f.submit "Submit", :disable_with => 'Sumbmiting...' %>
<% end %>
</div>
